/* reset */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(20, 20, 30, 90%);
}

body:before {
    content: "under contruction";
    color: green;
    position: absolute;
    top: 4px;
    left: 4px;
     
}
